
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#main-outlet.wrap {
  @apply pt-0 pb-4
}



.hero {
  @apply w-screen;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
}
.navigation-categories .hero {
  display: block;
}

.icon img, img.avatar {
  max-width: none;
}

#discourse-theme-neo4j-header {
  a:visited {
    color: currentColor;
  }  

  nav a {
    &:visited {
      @apply text-gray-300 dark:text-gray-50;
    } 
  }
}


.topic-body .cooked {
  @apply prose dark:prose-dark dark:bg-transparent;

  code, a code {
    @apply dark:text-yellow-300
  }
  img.emoji {
    display: inline-block;
    margin: unset;
    vertical-align: text-bottom;
  }
  .onebox {
    img {
      margin: 0;
      margin-right: 1em;
      @apply object-contain;
      min-width:initial;
      min-height: 4em;
    }

    &.twitterstatus {
      .date {
        text-align:right;
        span {
          display: inline-block;
          vertical-align: text-top;
        }
      }
    }
  }

}

.twin4j-article-headline {
  @apply bg-white dark:bg-blue-darkest text-black dark:text-gray-200 text-center italic p-6 m-4 h-48 w-48 inline-flex items-center rounded-full shadow hover:shadow-xl hover:ring-4 ring-blue-dark dark:ring-blue-dark;
  a:hover {
    @apply text-current;
  }
}
